.diagramHistory-mainContainer {
  box-sizing: border-box;
}
.diagramHistory-tableContainer {
  width: 240px;
  padding: 5px 20px;
}

.diagramHistory-tableContainer td {
  width: 100px;
}

.diagramHistory-tableContainer tr > td:first-child {
  text-align: left;
}
.diagramHistory-tableContainer tr > td:not(:first-child) {
  text-align: right;
}

.showYScroll {
  overflow-y: scroll;
}
