body {
  margin: 0;
  font-family: "Grenze", serif;
  font-size: 1.5rem;
}

.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.home-container > h1 {
  align-self: center;
}

.routes-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}
