.diagramViewer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  border: 3px dotted black;
  margin-bottom: 10px;
}

.diagramViewer-container>p {
  margin: 0;
}

.diagramViewer-container>pre {
  margin: 0;
}