.diagramViewer-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  border: 3px dotted black;
  margin-bottom: 10px;
}

.diagramViewer-container > p {
  margin: 0;
}

.diagramViewer-container > pre {
  margin: 0;
}

.diagramViewer-container > input {
  margin: 5px 0px;
  border: 0px;
  font-size: 1.5rem;
  text-align: center;
}

.smaller-text {
  font-size: 1rem;
}
